.cards {
  padding: 16px;
  max-width: 1536px;
  margin: 0 auto;

  .cards_list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }
  }
}